:root {
    --orange: #D2872C;
    --gray: #766F68;
    --white: #FFFFFF;
}

html, body {
    background-color: var(--white);

    font-family: 'Roboto', sans-serif;
    color: var(--gray);
    font-size: 20px;
    margin: 0;
}

.container {
    max-width: 1500px;
    margin: auto;
    padding: 24px;
}



header {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

header > div {
    width: 50%;
}

header .header-logo {
    color: var(--orange);
    font-weight: 700;
    font-size: 30px;
}

header .header-menu {
    display: flex;
    justify-content: flex-end;
}

header .header-menu a {
    margin: 0 12px;
    color: var(--gray);
    text-decoration: none;
}



.content {
    margin-top: 128px;
    display: flex;
    justify-content: flex-end;
}

.content .content-text {
    position: absolute;
    left: 84px;
    width: 540px;
}

.content .content-teamImage {
    width: 65%;
}

.content .content-text .content-title {
    font-size: 70px;
    font-weight: 700;
}

.content .content-text .content-info {
    margin: 32px 0 64px 0;
    font-size: 30px;
}

.content .content-text .content-button {
    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
    font-size: 30px;
    border-radius: 15px;
    display: inline-block;
    padding: 20px 72px;
}

.content .content-teamImage img {
    width: 100%;
}

@media (min-width: 900px) and (max-width: 1200px) {
    .content .content-text {
        width: 360px;
    }

    .content .content-text .content-title {
        font-size: 50px;
    }

    .content .content-text .content-info {
        margin: 32px 64px 64px 0;
        font-size: 26px;
    }

    .content .content-text .content-button {
        font-size: 24px;
        padding: 14px 50px;
    }
}

@media (max-width: 899px) {
    .content {
        flex-wrap: wrap;
        text-align: center;
    }

    .content .content-teamImage {
        order: -1;
        width: 100%;
    }

    .content .content-text {
        position: relative;
        width: 100%;
        left: 0;
    }
}