:root {
    --orange: #D2872C;
    --gray: #766F68;
    --white: #FFFFFF;
}

html, body {
    background-color: var(--white);

    font-family: 'Roboto', sans-serif;
    color: var(--gray);
    font-size: 20px;
    margin: 0;
}

.container {
    max-width: 1500px;
    margin: auto;
    padding: 24px;
}



header {
    display: flex;
    align-items: center;
    margin: 16px 0;
    position: relative;
}

header > div {
    width: 50%;
}

header .header-logo {
    color: var(--orange);
    font-weight: 700;
    font-size: 30px;
}

header .header-menu {
    display: flex;
    justify-content: flex-end;
}

header .header-menu a {
    margin: 0 12px;
    color: var(--gray);
    text-decoration: none;
}

header .header-menu-mobile {
    display: none;
}



.content {
    margin-top: 128px;
    display: flex;
    justify-content: flex-end;
}

.content .content-text {
    position: absolute;
    left: 84px;
    width: 540px;
}

.content .content-teamImage {
    width: 65%;
}

.content .content-text .content-title {
    font-size: 70px;
    font-weight: 700;
}

.content .content-text .content-info {
    margin: 32px 0 64px 0;
    font-size: 30px;
}

.content .content-text .content-button {
    border: none;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
    font-size: 30px;
    border-radius: 15px;
    display: inline-block;
    padding: 20px 72px;
    transition: all 0.2s;
}

.content .content-text .content-button:hover {
    filter: brightness(1.2);
}

.content .content-text .content-button:active {
    filter: brightness(0.8);
}

.content .content-teamImage img {
    width: 100%;
}

@media (min-width: 900px) and (max-width: 1200px) {
    .content .content-text {
        width: 360px;
    }

    .content .content-text .content-title {
        font-size: 50px;
    }

    .content .content-text .content-info {
        margin: 32px 64px 64px 0;
        font-size: 26px;
    }

    .content .content-text .content-button {
        font-size: 24px;
        padding: 14px 50px;
    }
}

@media (max-width: 899px) {
    header .header-logo {
        font-size: 26px;
    }

    header .header-menu {
        display: none;
    }

    header .header-menu-mobile {
        display: block;
    }

    .content {
        margin-top: 64px;
        flex-wrap: wrap;
        text-align: center;
    }

    .content .content-teamImage {
        order: -1;
        width: 100%;
    }

    .content .content-text {
        position: relative;
        width: 100%;
        left: 0;
    }

    .content .content-text .content-title {
        margin-top: 16px;
        font-size: 40px;
    }

    .content .content-text .content-info {
        margin: 32px 0;
        font-size: 20px;
    }

    .content .content-text .content-button {
        font-size: 24px;
        padding: 14px 50px;
    }
}



._dn {
    display: none;
}

/* MENU HAMBURGUER */

.menu-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: var(--gray);
    transition: all 0.4s ease-out;
}

.menu-btn.close {
    /* transform: rotate(180deg); */
}

.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

.menu-mobile-links {
    display: flex;
    flex-direction: column;
    max-height: 75px;
    position: absolute;
    right: 0;
    text-align: end;
    overflow: hidden;
    transition: all 0.4s;
    margin-top: 24px;
}

.menu-mobile-links.closed {
    max-height: 0px;
}

.menu-mobile-links a {
    text-decoration: none;
    color: var(--gray);
}